<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>NexaCLI</string>
    <key>CFBundleDisplayName</key>
    <string>Nexa CLI</string>
    <key>CFBundleIdentifier</key>
    <string>com.nexaai.nexa-sdk</string>
    <key>CFBundleVersion</key>
    <string>${VERSION}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>launcher</string>
    <key>NSAppleScriptEnabled</key>
    <true/>
    <key>CFBundleIconFile</key>
    <string>nexa-icon</string>
</dict>
</plist>