[submodule "dependency/stable-diffusion.cpp"]
	path = dependency/stable-diffusion.cpp
	url = https://github.com/NexaAI/stable-diffusion.cpp
	branch = master
[submodule "dependency/llama.cpp"]
	path = dependency/llama.cpp
	url = https://github.com/NexaAI/llama.cpp.git
	branch = experiment-branch
