[submodule "dependency/llama.cpp"]
	path = dependency/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
[submodule "dependency/stable-diffusion.cpp"]
	path = dependency/stable-diffusion.cpp
	url = https://github.com/leejet/stable-diffusion.cpp
