[tool.basedpyright]
reportImplicitRelativeImport = false
reportUnusedCallResult = false
reportAny = false
reportExplicitAny = false

[tool.ruff]
line-length = 120

[tool.ruff.format]
quote-style = "single"
