# For onnx
librosa
optimum[onnxruntime] >=1.7.3 # for cpu version
diffusers # required for image generation
optuna
pydantic
PyYAML
Requests
setuptools
soundfile
streamlit_audiorec
transformers
ttstokenizer