name: NexaCLI on Linux

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build-cli:
    name: ${{ matrix.runner }}_${{ matrix.arch }}
    runs-on: sdk-linux-16-core
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-22.04
            arch: x86_64
          # - runner: ubuntu-22.04-arm
          #   arch: arm64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Detect Tag Version
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo "VERSION=${{ github.ref_name }}" >> $GITHUB_ENV

      - name: Detect Commit Hash
        if: github.event_name == 'workflow_dispatch'
        run: echo "VERSION=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_ENV

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.3
          cache-dependency-path: runner/go.sum

      - name: Download runtime
        run: |
          cd runner
          make download

      - name: Build Nexa Cli
        run: |
          cd runner
          make build
          rm build/ml.h

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: "nexa-cli_linux_${{ matrix.arch }}"
          path: runner/build
          include-hidden-files: true

  package-and-release:
    name: Package for ${{ matrix.runner }}_${{ matrix.arch }}
    needs: build-cli
    runs-on: ${{ matrix.runner }}
    if: github.ref_type == 'tag'
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-22.04
            arch: x86_64
          # - runner: ubuntu-22.04-arm
          #   arch: arm64
    env:
      VERSION: ${{ github.ref_name }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: "nexa-cli_linux_${{ matrix.arch }}"
          path: artifacts

      - name: Create Self-Contained Installer Script
        id: package
        run: |
          chmod +x runner/release/linux/package.sh
          ./runner/release/linux/package.sh artifacts \
            runner/release/linux/install.sh \
            nexa-cli_linux_${{ matrix.arch }}.sh

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          repository: NexaAI/nexa-sdk
          tag_name: ${{ env.VERSION }}
          files: |
            nexa-cli_linux_${{ matrix.arch }}.sh
          draft: ${{ contains(github.ref, '-rc') }}
          generate_release_notes: true
          make_latest: ${{ !contains(github.ref, '-rc') }}
        env:
          GITHUB_TOKEN: ${{ secrets.ZACK_ACCESS_TOKEN }}

