name: Build Wheels (Metal)

on: workflow_dispatch

permissions:
  contents: write

jobs:
  build_wheels:
    name: Build wheels on macos-${{ matrix.os }}
    runs-on: macos-${{ matrix.os }}
    strategy:
      matrix:
        os: [12, 13, 14]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      # Used to host cibuildwheel
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # python -m pip install -e .
          python -m pip install build wheel

      - name: Copy pyproject.toml
        run: |
          cp tomls/pyproject_metal.toml pyproject.toml

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.20.0
        env:
          # disable repair
          CIBW_REPAIR_WHEEL_COMMAND: ""
          CIBW_ARCHS: "arm64"
          CIBW_BUILD: "cp310-* cp311-* cp312-*"
          MACOSX_DEPLOYMENT_TARGET: ${{ matrix.os }}
          CMAKE_BUILD_PARALLEL_LEVEL: 4
        with:
          package-dir: .
          output-dir: wheelhouse2

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-macos-${{ matrix.os }}-metal
          path: ./wheelhouse2/*.whl

  release:
    name: Release
    needs: [build_wheels]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: dist2

      - uses: softprops/action-gh-release@v2
        with:
          files: dist2/*
          # set release name to <tag>-metal
          tag_name: ${{ github.ref_name }}-metal
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
